.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f8fafc;
}
.App .card {
  margin-top: 100px;
  width: 40%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  background-color: #fff;
  box-shadow: 2px 2px 10px rgb(221, 216, 216);
}
.App .card:hover {
  transition: 1s;
  box-shadow: 2px 2px 10px rgb(196, 191, 191);
}
.App .card h1 {
  font-weight: 100;
}
.App .card .input-btn {
  display: flex;
}
.App .card .input-btn input {
  border: 1px solid rgb(197, 189, 189);
  border-radius: 3px;
  padding: 5px;
  width: 300px;
}
.App .card .input-btn button {
  background-color: #20bdd8;
  color: #fff;
  border: none;
  padding: 8px 20px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.App .card .input-btn button:hover {
  background-color: #1b7c97;
}
.list {
  margin-top: 20px;
}

.list .listItem {
  width: 400px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.list .listItem p {
  margin: 0;
  font-size: 20px;
}
.list .listItem .btns button {
  font-size: 20px;
  background-color: transparent;
  border: none;
}
.list .listItem .btns .edit {
  color: green;
}
.list .listItem .btns .remove {
  color: red;
}
.card-list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
 .card-list .clear-btn {
  background-color: #20bdd8;
  color: #fff;
  border: 2px solid #20bdd8;
  border-radius: 5px;
  padding: 7px 15px;
}
.alert{
  position: fixed;
}
 
 